<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Defer Test</title>
  <script src='/t/wait-4s-defer.js' defer></script>
  <script src='/t/wait-4s-defer2.js' defer></script>
  <script src='/t/wait-2s-1.js' ></script>
  <script src='/t/wait-2s-2.js' ></script>
  <script src='/t/wait-2s-3.js' ></script>
  <link href="/t/wait-6s-red.css" type="text/css" rel="stylesheet">
  <script src='/t/wait-2s-another.js' ></script>
  <link href="/t/wait-4s-lightblue.css" type="text/css" rel="stylesheet">
</head>
<body>
  <h1>Hello World</h1>
  <img src="/t/wait-10s.jpg" />
</body>
</html>


<!--

This template is going to test how the browser deal with scripts 
that contains `defer` attribute.

-->